h1 {
	font-family: pt-sans-narrow, sans-serif;
	font-weight: bolder;
	color: ghostwhite;
	text-shadow: 2px 2px 5px #5D606B;
}

body {
	background:linear-gradient(#25262B,#5D606B);
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: normal;
	font-size: 14pt;
	color: white;	
	text-shadow: 1px 1px 3px #6E727F;
}

button {
	background:linear-gradient(#25262B,#5D606B);
	font-family: pt-sans-narrow, sans-serif;
	font-weight: normal;
	font-size: 10pt;
	color: white;	
	text-shadow: 1px 1px 3px #5D606B;	
}