body {
	background:linear-gradient(#25262B,#5D606B);
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: normal;
	font-size: 14pt;
	color: white;	
	text-shadow: 2px 2px 5px #6E727F;
}

h1 {
	color: ghostwhite;
}

h2 {
	color: ghostwhite;
}

button {
	background:linear-gradient(#25262B,#5D606B);
	font-family: pt-sans-narrow, sans-serif;
	font-weight: normal;
	font-size: 10pt;
	color: white;	
	text-shadow: 2px 2px 5px #5D606B;	
}

a:link {	
	color: aliceblue;
}

a:visited {	
	color: aliceblue;
}

a:hover {	
	color: white;
	text-shadow: 4px 4px 10px white;
}

a:active {
	text-shadow: 4px 4px 10px white;	
	font-weight: bold;
}

table {
	border-collapse: collapse;
}

td {
	width: 500px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: ghostwhite;
	text-align: center;
	vertical-align: middle;
}