@font-face {
	font-family: MetronicProRegular;
	src: url("metronic pro regular.woff");
}

@font-face {
	font-family: MetronicProRegular;
	src: url("metronic pro semibold.woff");
	font-weight: bold;
}

body {
	background:linear-gradient(#25262B,#5D606B);
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: pt-sans, sans-serif;
	font-weight: normal;
	font-size: 14pt;
	color: white;	
	text-shadow: 2px 2px 5px #6E727F;
}

h1 {
	color: ghostwhite;
	font-family: MetronicProRegular, pt-sans-narrow, sans-serif;
}

h2 {
	color: ghostwhite;
	font-family: MetronicProRegular, pt-sans-narrow, sans-serif;
}

button {
	background:linear-gradient(#25262B,#5D606B);
	font-family: pt-sans-narrow, sans-serif;
	font-weight: normal;
	font-size: 10pt;
	color: white;	
	text-shadow: 2px 2px 5px #5D606B;
}

a {	
	font-family: MetronicProRegular, pt-sans-narrow, sans-serif;
}

a:link {	
	color: aliceblue;
}

a:visited {	
	color: aliceblue;
}

a:hover {	
	color: white;
	text-shadow: 4px 4px 10px white;
}

a:active {
	text-shadow: 4px 4px 10px white;	
	font-weight: bold;
}

table {
	border-collapse: collapse;
}

td {
	width: 500px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: ghostwhite;
	text-align: center;
	vertical-align: middle;
}

@keyframes warning {
	0% {color:red;}
    50% {color:darkred;}
	100% {color:red;}
}

.warning {
	animation: warning;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	text-shadow: 2px 2px 8px darkred;
	font-weight: bold;
	font-family: MetronicProRegular, pt-sans-narrow, sans-serif;
}

@keyframes safe {
	0% {color:lawngreen;}
    50% {color:darkgreen;}
	100% {color:lawngreen;}
}

.safe {
	animation: safe;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	text-shadow: 2px 2px 8px darkgreen;
	font-weight: bold;
	font-family: MetronicProRegular, pt-sans-narrow, sans-serif;
}

@keyframes caution {
	0% {color:gold;}
    50% {color:darkgoldenrod;}
	100% {color:gold;}
}

.caution {
	animation: caution;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	text-shadow: 2px 2px 8px darkgoldenrod;
	font-weight: bold;
	font-family: MetronicProRegular, pt-sans-narrow, sans-serif;
}